<div class="requestcreate">
<button routerLink="/dashboard/request" >create-request</button>
</div>
<div class="tabledata">
    <h1>REQUESTS</h1><table>
        <thead>
          <tr>
            <th>Request ID</th>
            <th>Project Name</th>
            <th>Project ID</th>
            <th>Equipment Type</th>
            <th>Created</th>
            <th>Requester</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Project A</td>
            <td>ABC123</td>
            <td>Printer</td>
            <td>2024-03-18</td>
            <td>John Doe</td>
            <td>Pending</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Project B</td>
            <td>DEF456</td>
            <td>Laptop</td>
            <td>2024-03-17</td>
            <td>Jane Smith</td>
            <td>Approved</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Project C</td>
            <td>GHI789</td>
            <td>Monitor</td>
            <td>2024-03-16</td>
            <td>Bob Johnson</td>
            <td>Denied</td>
          </tr>
        </tbody>
      </table>
