.split-screen-container {
    display: flex;
    height: 100vh;
    margin-top: -10px;
    margin-left: -10px;
  }
  
  .left-container {
    flex: 1;
    background-image: url("https://dev.trojanae.com/assets/image/web/bg_not_logged_in.png");
    justify-content: center;
    align-items: center; 
  }
  
  .right-container {
    flex: 1;
    background-color:ffff; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .passcon{
    /* display: flex; */
    position: relative;
}
.eye_icon{
  position: absolute;
  border: none;
  background: transparent;
  right: 3%;
  bottom: 30%;
  }
  #logo{
    padding-left: 50px;
    padding-top: 50px;

  }
.content{

  text-align: center;
  height: 200px;
  align-items: center;
  padding-top: 20%;
  color: aliceblue;
  font-family: ProximaNova-Regular;
  font-size: 28px;
  
}

.title{
 color:  #373636 !important;
 font-size: 32px !important;
} 
.line{

  margin: 0 auto; 
  border: none;
  border-top: 3px solid white; 
  font-weight: bolder;
  width: 28%;
  height: 2px;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;

}
  
