<div class="split-screen-container">
    <div class="left-container">
    <!-- <img src="https://dev.trojanae.com/assets/image/web/bg_not_logged_in.png" width="100%" height="100%"alt="Image"> -->
    <img src="../assets/images/logo_trojan.png" alt="trojan logo" id="logo" height="225px" width="195px">
   <div class="content">
    <h4>Welcome to</h4>
    <h2>ALLOCATION SYSTEM</h2>
    <span class="line"></span>
  
    <h3>It seems Like you've forgotten your password.It<br> Taken only few minutes to resend it.</h3>
   </div>
  </div>
  <h5 style="margin-top:50px; margin-left: 30px;" routerLink="/login" ><strong>< Back to Login </strong></h5>
    <div class="right-container">
     

    <div class="logincontainer">
     <h2>FORGOT YOUR PASSWORD</h2>
     <P>click here to reset your password</P><br>
     <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <label for="email">Email:</label><br><br>
      <input type="text" id="email" formControlName="email"style="width: 500px;height: 50px; border-radius: 5px; "><br><br>
      <small *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required','email')"class="text-danger">Email is required</small>
      

     <div class="passcon">
      <label for="password">New Password:</label><br><br>
      <input type="{{showPassword ? 'text' : 'newPassword'}}" id="newPassword" formControlName="newPassword" style="width: 500px;height: 50px; border-radius: 5px; "><br><br>
      <button class="eye_icon" (click)="togglePassword()">
        <img  [src]="showPassword ? '../assets/images/eye-regular.jpg' : '../assets/images/eye-slash-solid.jpg'" alt="Toggle" height="10px" width="15px">
        </button>
      </div>

      <small *ngIf="loginForm.controls['newPassword'].dirty && loginForm.hasError('required','newPassword')"class="text-danger">password is required</small>
                <p *ngIf="loginForm.controls['newPassword'].hasError('minlength')" class="text-danger">minimum 6 character is required</p>
                <p *ngIf="loginForm.controls['newPassword'].hasError('pattern')" class="text-danger">minimum 2 numbers and one special character is required</p>
       <!-- <head></head>  new password-->
      <div class="passcon">
        <label for="password">confirm Password:</label><br><br>
        <input type="{{showPassword ? 'text' : 'password'}}" id="confirmPassword" formControlName="confirmPassword" style="width: 500px;height: 50px; border-radius: 5px; "><br><br>
        <button class="eye_icon" (click)="togglePassword()">
          <img  [src]="showPassword ? '../assets/images/eye-regular.jpg' : '../assets/images/eye-slash-solid.jpg'" alt="Toggle" height="10px" width="15px">
          </button>
        </div>

        <small *ngIf="loginForm.controls['confirmPassword'].dirty && loginForm.hasError('required','confirmPassword')"class="text-danger">password is required</small>
        <p *ngIf="loginForm.controls['confirmPassword'].hasError('minlength')" class="text-danger">minimum 6 character is required</p>
        <p *ngIf="loginForm.controls['confirmPassword'].hasError('pattern')" class="text-danger">minimum 2 numbers and one special character is required</p><br>
<!-- <head></head>  new password-->

      <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid" style="width: 500px;height: 50px; border-radius: 5px; background-color:#1444c5; ">Reset Password</button><br><br>
     </form>  
    </div>
    
  </div>

