<div class="wrapper">
  
    <div class="sidebar">
        
     <img src="https://dev.trojanae.com/assets/image/web/trojan_1.png"  draggable="false" alt="trojan_logo">
      <button routerLink="/dashboard/table" style="
      max-height: 50px;
      width: 100px;
      margin: 15px;
      background-color:#194acd;
      color: white;
      border: none;">Request</button>     
    </div>
    
 <div class="right">
    <div class="topbar">
    <button routerLink="/login">Logout</button>

</div>
<hr>



 <router-outlet></router-outlet>
</div>
 </div>
